# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/packages/core/dev.properties
/packages/local.properties
/packages/gradlew.bat
/packages/gradlew
/packages/gradle.properties
/dev.properties
/klutter-plugins/dev.properties
/klutter-core/local.properties
/klutter-core/dev.properties
/klutter-plugins/publish.sh
/klutter-plugins/local.properties
/klutter-annotations-kmp/lib/lib.podspec
/klutter-annotations-jvm/dev.properties
/klutter-annotations-kmp/dev.properties
/klutter-core/lib/dev.properties
/klutter-plugins/lib/dev.properties
/klutter-plugins/lib/local.properties
/examples/example-basic/local.properties
/examples/example-basic/gradlew
/examples/example-basic/gradlew.bat
/klutter-plugins/plugins/dev.properties
/klutter-plugins/plugins/local.properties
/examples/example-basic/dev.properties
/klutter-annotations-jvm/
/klutter-core/core/dev.properties
/examples/example-basic/klutter/.klutter/pigeon.dart
/klutter-annotations-kmp/annotations-kmp/annotations_kmp.podspec
/examples/example-basic/.klutter/
/examples/example-basic/kmp/.klutter/
/examples/example-basic/klutter-secrets.yaml
/examples/example-basic/android/.klutter/
/examples/example-basic/android/app/.klutter/
/examples/example-basic/kmp/common/.klutter/
/examples/example-basic/lib/generated/
/examples/example-basic/ios/PodFile
/examples/example-basic/ios/Podfile.lock
/test-project/lib/generated/messages.dart
/klutter-annotations/annotations-jvm/dev.properties
/klutter-annotations/annotations-kmp/annotations_kmp.podspec
/lib-publish/publish_plugins-release.sh
/klutter-annotations/build/
/.gradle/
/packages/gradle/
/klutter-core/build/
/klutter-core/.gradle/
/packages/.gradle/
/gradle.properties
/local.properties
/packages/core-test/src/main/resources/testkit-gradle.properties
/packages/plugin-pub/checklist.txt
/packages/plugin-pub/dartdoc.sh
/packages/plugin-pub/format.sh
/lib/plugin-pub/checklist.txt
/lib/plugin-pub/dartdoc.sh
/lib/plugin-pub/format.sh
/lib/plugin-pub/pana.sh
/lib-build/res/publish_gradle_plugin_release.sh
/lib-build/src/main/resources/publish.properties
/lib-build/tools/publish_gradle_plugin_release.sh
/lib-build/src/main/resources/repository.properties
/lib/klutter-gradle/src/main/resources/publish.properties
/lib-build/src/main/resources/signing.properties
/notes
/lib-test/rune2e.txt
/lib-test/rune2e.properties
/lib/gradle/src/main/resources/publish.properties
/test-ksp/local.properties
