# Created by .ignore support plugin (hsz.mobi)
../src/main/resources/_publish.properties
_develop.properties
_release.properties
./publish_plugins-release.sh
/_develop.properties
/_publish.properties
/_release.properties
/publish_all_release.sh
/gradle.properties
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.properties
/publish_gradle_plugin_release.sh
